name: Workflow

on:
  push: 
      branches: [main]
  pull_request:
      branches: [main]
  
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        dotnet-version: [ '8.0.x' , '9.0.x']

    steps:
      - name: Checkout 
        uses: actions/checkout@v5.0.0

      - name: setup.NET
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: ${{matrix.version}}

      - name: test setup
        if: success()
        run: echo "test successful"


       
