name: Workflow
  
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: TestBuildSuccess
        if: success()
        run: echo "Checkout successful" 
          
      
