name: Workflow
  
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        version: [9.0.x, 8.0.x]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: TestBuildSuccess
        if: success()
        run: echo "Checkout successful" 
          
      
