name: Title breaker
on:
    
  pull_request:
    branches: main
    
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        version: [9.0, 8.0]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        
      - name: setup NET
        uses: action/setup-dotnet@v5.0.0
        with:
          dotnet-version: ${{matrix.version}}

      - name: Build project
        run: dotnet build

      - name: Build Test
        run: dotnet web


  
  
